.card {
    position: relative;
    background-color: #FBEB9566;
    box-sizing: border-box;
    margin: 15px 18px;
    padding: 22px;
    height: 35vh;
    width: 15vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    /* Allows long words to break and wrap */
    word-break: break-word;
    // box-sizing: border-box;
    color: black;



    .bookmark {
        position: absolute;
        right: -12px;
        top: -5px;
        transition: all 5s ease-in-out;

        svg {
            height: 22px;
            width: 22px;
        }

        .remove_bookmark {
            transform: rotateY(180deg);
            transition: all 0.5s ease;
        }

        .remove_bookmark_unactive {
            transform: rotateY(360deg);
            transition: all 0.5s ease;
        }

        .add_bookmark {
            transform: rotateY(180deg);
            transition: all 0.5s ease;
        }

        .add_bookmark_unactive {
            transform: rotateY(360deg);
            transition: all 0.5s ease;
        }


    }





    .textarea {
        overflow: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    textarea {
        display: block;
        background-color: transparent;
        border: none;
        outline: none;
        font-weight: 500;
        font-size: 18px;
        resize: none;
    }

    button {
        background-color: #00000011;
        border: none;
        border-radius: 8px;
        padding: 2px;
    }

    .description {
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        white-space: pre-wrap;
        /* This property ensures word wrapping */
        word-wrap: break-word;
    }

    svg {
        cursor: pointer;
        margin-right: 20px;
    }

    .date {
        font-size: 12px;
        color: rgb(51, 51, 51);
    }



    .cancel {
        margin-bottom: -11px;
        margin-top: 7px
    }

    .operations {
        display: flex;
        justify-content: space-around;

        svg {
            height: 24px;
            width: 24px;
        }
    }
}

.dark {
    box-shadow: 7px 6px 12px rgb(0 0 0 / 67%);
}

.light {
    box-shadow: 6px 6px 8px #80808082;

}


/* For WebKit browsers (e.g., Chrome, Safari) */
.textarea::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

.description::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

/* For Firefox */
.card {
    scrollbar-width: none;
    /* Hides the scrollbar */
}

// /* For Edge and IE */
// .card {
//     -ms-overflow-style: none;
//     /* Hides the scrollbar */
// }

@media (max-width: 600px) {
    .card {
        box-sizing: border-box;
        margin: 5px 5px;
        padding: 15px;
        height: 35vh;
        width: 40vw;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        overflow-x: hidden;
        overflow-wrap: break-word;
        /* Allows long words to break and wrap */
        word-break: break-word;
        // box-sizing: border-box;
        color: black;



        .textarea {
            overflow: auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        textarea {
            display: block;
            background-color: transparent;
            border: none;
            outline: none;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            resize: none;
        }

        button {
            background-color: #00000011;
            border: none;
            border-radius: 8px;
            padding: 2px;
        }

        .description {
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            white-space: pre-wrap;
            /* This property ensures word wrapping */
            word-wrap: break-word;
        }

        svg {
            cursor: pointer;
            margin-right: 20px;
        }

        .date {
            font-size: 12px;
            line-height: 15px;
            color: rgb(51, 51, 51);
        }

        .cancel {
            margin-bottom: -5px;
            margin-top: 7px
        }
    }

    .dark {
        box-shadow: 7px 6px 12px rgb(0 0 0 / 67%);
    }

    .light {
        box-shadow: 6px 6px 8px #80808082;

    }
}