.greeting {
    // background-color: red;
    font-size: 35px;
    width: 87vw;
    margin: 40px 150px;

    p {
        color: grey;
        font-size: 25px;
        margin-top: 10px;
    }
}

@media (max-width: 600px) {
    .greeting {
        font-size: 25px;
        width: 87vw;
        margin: 20px 13vw;

        p {
            color: grey;
            font-size: 15px;
            margin-top: 1px;
        }
    }
}