.loader {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        color: black;
        height: 300px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 11vw;

        svg {
            color: black;
            height: 100px;
            width: 100px;

        }
    }
}