.container {
    width: 87vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: red;
    margin-top: 30px;
    margin-left: 150px;

    .search {
        display: flex;
        align-items: center;
        // background-color: red;

        input {
            width: 70vw;
            border-radius: 30px;
            height: 30px;
            padding: 20px 15px;
            border: none;
            outline: none;
            background-color: rgba(200, 200, 200, 0.308);
        }

        .inputDark {
            color: white;
        }

        .inputDark::placeholder {
            color: white;
        }

        svg {
            height: 30px;
            width: 30px;
            margin-right: 13px;
            cursor: pointer;
        }

    }

    .searchDark {
        color: white;
    }

    .darkmode {
        cursor: pointer;
        margin-right: 46px;
    }


}