.container {
    width: 87vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 150px;

    .search {
        display: flex;
        align-items: center;

        .searchBox {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;


            .clearSearch {
                position: absolute;
            }
        }

        input {
            width: 70vw;
            border-radius: 30px;
            height: 30px;
            padding: 20px 15px;
            border: none;
            outline: none;
            background-color: rgba(200, 200, 200, 0.308);
        }

        .inputDark {
            color: white;
        }

        .inputDark::placeholder {
            color: white;
        }

        svg {
            height: 30px;
            width: 30px;
            margin-right: 13px;
            cursor: pointer;
        }

    }

    .searchDark {
        color: white;
    }

    .darkmode {
        cursor: pointer;
        margin-right: 46px;

        .remove_bookmark {
            // transform: rotateY(180deg);
            transform: rotateZ(180deg);
            transition: all 1s ease;
        }

        .remove_bookmark_unactive {
            // transform: rotateY(360deg);
            transform: rotateZ(360deg);
            transition: all 1s ease;
        }

        .add_bookmark {
            // transform: rotateY(180deg);
            transform: rotateZ(180deg);
            transition: all 1s ease;
        }

        .add_bookmark_unactive {
            // transform: rotateY(360deg);
            transform: rotateZ(360deg);
            transition: all 1s ease;
        }
    }


}

@media (max-width: 600px) {
    .container {
        width: 89vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: red;
        margin-top: 10px;
        margin-left: 13vw;
        // background-color: red;

        .search {
            display: flex;
            align-items: center;
            // background-color: red;

            .searchBox {
                display: flex;
                align-items: center;
                flex-direction: row-reverse;


                .clearSearch {
                    position: absolute;
                }
            }

            input {
                width: 65vw;
                border-radius: 20px;
                height: 30px;
                padding: 20px 15px;
                border: none;
                outline: none;
                background-color: rgba(200, 200, 200, 0.308);
            }

            .inputDark {
                color: white;
            }

            .inputDark::placeholder {
                color: white;
            }

            svg {
                height: 28px;
                width: 28px;
                margin-right: 5px;
                cursor: pointer;
            }

        }

        .searchDark {
            color: white;
        }

        .darkmode {
            cursor: pointer;
            margin-right: 18px;




        }
    }
}